<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Card Redeem users'">
      <div class="dt-responsive">
        <div class="row">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | Filter:{ email: filterQuery, office: filterQuery } : false" #mf="mfDataTable"
               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>
            <th>
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="key">Key</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="item">Item</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="Value">Value</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="address">Address</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="state">State</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="country-name">Country Name</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="ipAddress">Ip Address</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="status">Status</mfDefaultSorter>
            </th>
           <!-- <th>
              <mfDefaultSorter>Action</mfDefaultSorter>
            </th> -->
          </tr>
          <tr>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.key}}</td>
            <td>{{item.item}}</td>
            <td>{{item.value}}</td>
            <td>{{item.address}}</td>
            <td>{{item.city}}</td>
            <td>{{item.state}}</td>
            <td>{{item.country}}</td>
            <td>{{item.ip}}</td>
            <td>{{item.status}}</td>
            <!--<td>
            <a href="javascript:;" class="crm-action-delete text-muted text-danger">
            <i class="icofont icofont-delete-alt"></i></a>
            </td> -->
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Key</th>
            <th>Item</th>
            <th>Value</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>IP Address</th>
            <th>Status</th>
           <!-- <th>Action</th> -->
          </tr>
          <tr>
            <td colspan="11">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </app-card>
  </div>
</div>
