<!--profile cover start-->
<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a href="javascript:;" class="profile-image">
                <img class="user-img img-circle" src="assets/images/user-profile/user-img.jpg" alt="user-img">
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>RepoCoin Admin</h2>
                  <span class="text-black">Admin</span>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="Personal Info">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">About Me</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <table class="table m-0 table-responsive">
                                <tbody>
                                <tr>
                                  <th scope="row">Full Name</th>
                                  <td>Josephine Villa</td>
                                </tr>
                                <tr>
                                  <th scope="row">Gender</th>
                                  <td>Female</td>
                                </tr>
                                <tr>
                                  <th scope="row">Birth Date</th>
                                  <td>October 25th, 1990</td>
                                </tr>
                                <tr>
                                  <th scope="row">Marital Status</th>
                                  <td>Single</td>
                                </tr>
                                <tr>
                                  <th scope="row">Location</th>
                                  <td>New York, USA</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <table class="table table-responsive">
                                <tbody>
                                <tr>
                                  <th scope="row">Email</th>
                                  <td><a href="javascript:;">Demo@phenix.com</a></td>
                                </tr>
                                <tr>
                                  <th scope="row">Mobile Number</th>
                                  <td>(0123) - 4567891</td>
                                </tr>
                                <tr>
                                  <th scope="row">Twitter</th>
                                  <td>@codedthemes</td>
                                </tr>
                                <tr>
                                  <th scope="row">Skype</th>
                                  <td>codedthemes.demo</td>
                                </tr>
                                <tr>
                                  <th scope="row">Website</th>
                                  <td><a href="javascript:;">www.demo.com</a></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-6">
                            <form [formGroup]="profileViewForm" (ngSubmit)="onSubmit()" novalidate  submitted>
                              <table class="table">
                                <tbody>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                      <input type="text" formControlName="fullname" class="form-control" name="fullname" placeholder="Full Name" value="Josephine Villa">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                      <input type="email" formControlName="email" class="form-control" name="email" placeholder="E-Mail" value="">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                  <div class="input-group">
                                    <!--<input id="dropper-default"  formControlName="birth_date" class="form-control" type="date" value="October 25th, 1990" placeholder="Select Your Birth Date" /> -->
                                     <input class="form-control" placeholder="yyyy-mm-dd" formControlName="birth_date" name="dp" [(ngModel)]="modelPopup" [minDate]="minDate" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-addon bg-default" (click)="d.toggle()" >
                                    <span class="icofont icofont-ui-calendar"></span>
                                  </div>
                                  </div>
                                 <!-- <pre>Selected Date: {{ parserFormatter.format(modelPopup) }}</pre> -->
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <select id="hello-single" formControlName="martial_status" class="form-control">
                                      <option value="">---- Marital Status ----</option>
                                      <option value="married">Married</option>
                                      <option value="single" selected>Single</option>
                                      <option value="unmarried">Unmarried</option>
                                    </select>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-location-pin"></i></span>
                                      <input type="text" formControlName="address" class="form-control" placeholder="Address" value="New York, USA">
                                    </div>
                                  </td>
                                </tr>
                                    <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                                      <input type="text" formControlName="mobile_number" class="form-control" value="(0123) - 4567891" placeholder="Mobile Number">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                                      <input type="text" formControlName="twitter" class="form-control" value="@codedthemes" placeholder="Twitter Id">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                                      <input type="email" formControlName="skype" class="form-control" value="codedthemes.demo" placeholder="Skype Id">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                                      <input type="text" formControlName="site_url" class="form-control" value="www.demo.com" placeholder="website">
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            <div class="text-center">
                            <input type="submit" class="btn btn-primary waves-effect waves-light m-r-20" value="Save">
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                          </div>
                              </form>
                            </div>
                          </div>
                          <!-- end of row -->

                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>

              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
